<launch>
  <node name="follow_gps" pkg="qr_navigation" type="follow_gps3.py" output="screen"/>
  <node name="rotateWhileDetectingAr" pkg="qr_navigation" type="rotateWhileDetectingAr.py" output="screen"/>
  <node name="detect_aruco_video2" pkg="zed-implementations" type="detect_aruco_video_2.py" output="screen"/>
  <node name="center_and_approach" pkg="qr_navigation" type="center_and_approach.py" output="screen"/>
  <!--<node name="talker_node" pkg="qr_navigation" type="NavigationController.py" output="screen"/>-->
  <node name="matrix" pkg="matrix_implementations" type="MatrixSignalReciever.py" output="screen"/>    
  <include file="$(find ublox_gps)/launch/ublox_device.launch"/>
  <include file="$(find ros_imu_bno055)/launch/imu.launch"/>
  <node name="pose_info" pkg="qr_navigation" type="odom_publisher.py" output="screen"/>  
</launch>


<!--./cannable.sh
-->