<launch>
  <node name="rotateWhileDetectingAr" pkg="qr_navigation" type="rotateWhileDetectingAr.py" output="screen"/>
  <node name="detect_aruco_video2" pkg="zed-implementations" type="detect_aruco_video_2.py" output="screen"/>
  <node name="center_and_approach" pkg="qr_navigation" type="center_and_approach.py" output="screen"/>
  <!--<node name="talker_node" pkg="qr_navigation" type="NavigationController.py" output="screen"/>-->
  <node name="matrix" pkg="matrix_implementations" type="MatrixSignalRecieiver.py" output="screen"/>  
</launch>


<!--./cannable.sh
-->